<div class="notes-index">
  <section>
    <header class="main">
      <h1>Texts</h1>
    </header>
    <section class="notes">
      <header>
        <h3>Texts</h3>
      </header>
      <ul>
        <li ng-repeat="note in vm.list">
          <a ui-sref="note({ id: note.id })">
            <h2>{{ ::note.blurb_title }}</h2>
            {{ ::note.blurb_body }}
          </a>
        </li>
      </ul>
    </section>
    <aside class="statistics">
      <p>{{ ::vm.count | number }} texts ({{ ::vm.total_word_count | number }} words).</p>
    </aside>
    <pagination ng-if="vm.count" count="vm.count"></pagination>
  </section>
</div>
