<nav class="pagination">
  <ol>
    <li>
      <span ng-if="vm.page === 1" class="current">First</span>
      <a ng-if="vm.page !== 1" rel="first" ui-sref=".({ p: 1 })">First</a>
    </li>
    <li>
      <span ng-if="vm.page === vm.previous" class="current">Previous</span>
      <a ng-if="vm.page !== vm.previous" rel="prev" ui-sref=".({ p: vm.previous })">Previous</a>
    </li>
    <li ng-repeat="page in vm.pages">
      <span ng-if="vm.page === page" class="current">{{ page }}</span>
      <a ng-if="vm.page !== page" ui-sref=".({ p: page })">{{ page }}</a>
    </li>
    <li>
      <span ng-if="vm.page === vm.next" class="current">Next</span>
      <a ng-if="vm.page !== vm.next" rel="next" ui-sref=".({ p: vm.next })">Next</a>
    </li>
    <li>
      <span ng-if="vm.page === vm.last" class="current">Previous</span>
      <a ng-if="vm.page !== vm.last" rel="last" ui-sref=".({ p: vm.last })">Last</a>
    </li>
  </ol>
</nav>
