<div class="books-index">
  <section>
    <header class="main">
      <h1>Bibliography</h1>
    </header>
    <section class="books">
      <header>
        <h3>Bibliography</h3>
      </header>
      <ul>
        <li>
          <a href="/bibliography/flusser-2011">Flusser: <span class="book">Does Writing Have a Future? </span> <span class="count">15</span></a>
        </li>
      </ul>
    </section>
    <aside class="statistics">
      <p>{{ ::vm.count | number:0 }} cited books ({{ ::vm.references_count | number:0 }} references).</p>
    </aside>
    <pagination ng-if="vm.count" count="vm.count"></pagination>
  </section>
</div>
